asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
certifi==2019.11.28
chardet==3.0.4
clarifai==2.6.2
click==6.7
colorama==0.3.7
configparser==3.8.1
constantly==15.1.0
cryptography==2.3
deluge==1.3.15
enum34==1.1.6
functools32==3.2.3.post2
future==0.18.2
futures==3.3.0
googleapis-common-protos==1.6.0
grpcio==1.25.0
hyperlink==17.3.1
idna==2.8
incremental==16.10.1
ipaddress==1.0.17
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
numpy==1.13.3
PAM==0.4.2
protobuf==3.11.1
psycopg2==2.8.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycrypto==2.6.1
pygame===1.9.1release
pygobject==3.26.1
pyOpenSSL==17.5.0
pyserial==3.4
python-libtorrent==1.1.5
pyxdg==0.25
requests==2.22.0
SecretStorage==2.3.1
service-identity==16.0.0
six==1.13.0
Twisted==17.9.0
twodict==1.2
typing==3.7.4.1
urllib3==1.25.7
wxPython==3.0.2.0
wxPython-common==3.0.2.0
Youtube-DLG==0.4
zope.interface==4.3.2
